{% extends 'layout_admin.html.twig' %}

{% block title %}Avis clients{% endblock %}

{% block body %}
    <div class="h1_title_container mx-auto mt-100px mb-5">
        <h1 class="text-center">Avis clients</h1>
    </div>

    <div class="container">
    <table class="zui-table zui-table-rounded mx-auto">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Contenu de l'avis</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for customer_review in customer_reviews %}
            <tr>
                <td>{{ customer_review.id }}</td>
                <td>{{ customer_review.firstname }}</td>
                <td>{{ customer_review.lastname }}</td>
                <td>{{ customer_review.email }}</td>
                <td>{{ customer_review.review }}</td>
                <td>
                    {{ include('customer_review/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucunes informations trouvées</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

{% endblock %}