{% extends 'layout_admin.html.twig' %}

{% block title %}Villes{% endblock %}

{% block body %}

    <div class="h1_title_container mx-auto mt-100px mb-5">
        <h1 class="text-center">Liste des villes</h1>
    </div>

    <div class="container">
        <table class="zui-table zui-table-rounded mx-auto">
        <thead>
            <tr>
               
                <th>Noms</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                
                <td>{{ city.name }}</td>
                <td>{{ city.longitude }}</td>
                <td>{{ city.latitude }}</td>
                <td>
                    <a href="{{ path('city_show', {'id': city.id}) }}">Afficher</a>
                    <a href="{{ path('city_edit', {'id': city.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune ville n'a été enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="w-100 text-center">
    <a href="{{ path('city_new') }}">Ajouter de nouvelles villes</a>
</div>    
{% endblock %}
