{% extends 'base.html.twig' %}

{% block title %}City{% endblock %}

{% block body %}
<div class="container">
    <div class="h1_title_container mx-auto mt-100px mb-5">
        <h1 class="text-center">Informations de la ville</h1>
    </div>
         <table class="zui-table zui-table-rounded mx-auto">
             <tbody>
                 <tr>
                    <th>Id</th>
                    <td>{{ city.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ city.name }}</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>{{ city.longitude }}</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>{{ city.latitude }}</td>
                </tr>
            </tbody>
        </table>

    <a href="{{ path('city_index') }}">Retour à la liste</a>

    <a href="{{ path('city_edit', {'id': city.id}) }}">Modifier</a>

    {{ include('city/_delete_form.html.twig') }}

</div>

{% endblock %}
